@import url('https://fonts.googleapis.com/css2? family= Lemonada:wght@300 & family= Roboto:ital,wght@0,400;0,700;1,300 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5f7;
background-image: radial-gradient(#f7459b 0.5px, #e5e5f7 0.5px);
background-size: 1400px 800px;
display: flex;
min-height: 100vh;
background-image: url(https://i.pinimg.com/originals/e9/ef/7a/e9ef7a90f739e742038cc65e6a87dc91.gif);
}
.form{
    background-color: rgba(255, 255, 255, 0.281);
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgba(0 0 0 / 30%);
    text-align: center;
}
.form__tittle{
    font-size: 2rem;
    margin-bottom: .5em;
    color: #fff;

}
.form__paragraph{
    font-weight: 300;
    color: #fff;
}
.form__link{
    font-weight: 400;
    color: #000;
}
.form__container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}
.form__group{
    position: relative;
    --color:#f0eeeefa;
}
.form__input{
    width: 100%;
    background: none;
    color: #ffffffea;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Roboto', sans-serif;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown)+ .form__label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #3866f2;
}
.form__label{
    color: var(--color);
    cursor:pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}
.form__submit{
    background: #110266;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8rem 0;
    border: none;
    border-radius: .5em;
}
.form__line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #0f054d;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

@media (max-width:425px) {
    .form__tittle{
        font-size: 1.8rem;
    }
    
}