<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accion</title>
    <link rel="stylesheet" href="/css/juego.css">
</head>
<body>
    <header>
        <a style="display:scroll; position:fixed; top:40%; right:0px; z-index:4;" href="https://www.instagram.com/" target="_blank"><img src="https://i.imgur.com/hLAmor1.png" width="45" height="45"></a>
        <a style="display:scroll; position:fixed; top:30%; right:0px; z-index:4;" href="https://discord.gg/" target="_blank"><img src="https://i.imgur.com/8AuPev9.png" width="45" height="45"></a>
        <a style="display:scroll; position:fixed; top:50%; right:0px; z-index:4;" href="https://chat.whatsapp.com" target="_blank"><img src="https://i.imgur.com/q7RpkBc.png" width="45" height="45"></a>
        <nav class="container">
            <ul class="menu-horizontal">
              <li><a href="/">Inicio</a>
                <ul class="menu-vertical">
                    <li><a href="login">Iniciar Sesion</a></li>
                   <li><a href="registro">Registrarse</a></li>
                </ul>
            </li>
            <li><a href="#">Comunidad</a>
                <ul class="menu-vertical">
                    <li><a href="/comunidad/temasactivos">Temas Activos</a></li>
                    <li><a href="/comunidad/temasnuevos">Temas Nuevos</a></li>
                </ul>
              <li>
              <li>
                  <a href="#">Categorias</a>
                  <ul class="menu-vertical">
                      <li><a href="/juegos/accion">Accion</a></li>
                      <li><a href="/juegos/aventura">Aventura</a></li>
                      <li><a href="/juegos/2Dysim">2D y simulacion</a></li>
                      <li><a href="/noticias/novedades">Novedades</a></li>
                  </ul>
              </li>
              </ul>
            </div>
           </nav>
    </header>
    <div class="container">
<div class="subforo">
<div class="subforo-tittle">
<h1>Apex Legends</h1>

</div>
<div class="info">
<div class="imagen">
<img src="https://www.tonica.la/__export/1603057960047/sites/debate/img/2020/10/18/apex-legends-estarx-en-la-nintendo-switch.jpg_242310155.jpg" >
</div>
<div>
    <div class="descrip"><h2>Descripcion del juego</h2></div>
<div class="parrafo">
<p>En Apex Legends, los jugadores forman escuadrones de dos o tres personas seleccionando personajes con habilidades predeterminadas llamados 
    "Leyendas" y luchan contra otros jugadores para ser el último escuadrón en pie. Los jugadores ganan experiencia en función de su desempeño en las partidas, a través de los cuales 
    pueden ganar paquetes Apex que contienen cosméticos. Los cosméticos también se pueden comprar en la tienda del juego, se pueden obtener a través de pases de batalla de temporada o se pueden otorgar a través de eventos de tiempo limitado.</p>
</div>
</div>
</div>
        <script src="main.js"></script>
   </body>
</html>