<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/iniciar sesion.css">
</head>
<body>
  
   <form>
 <h1 class="titulo">Iniciar sesion</h1>
<label>
  <input placeholder="e-mail" type="text" id="email">
</label>
<label>
  <input placeholder="password" type="password" id="password">
</label>
<button id="button" onClick="history.back(-1)">Iniciar Sesion</button>
   </form>
      <script src="iniciar sesion.js"></script>
</body>
</html>
