*{box-sizing: border-box;}

body{font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: url(https://i.pinimg.com/originals/e9/ef/7a/e9ef7a90f739e742038cc65e6a87dc91.gif);
    background-size: cover;
}
form{width: 400px; margin: 0 auto; border: solid 1px #ccc; padding: 20px;}

input[type=text], input[type=password]{
    border: solid 1px #ccc;
    border-radius: 3px;
    font-size: 18px;
    outline: none;
    padding: 10px;
    width: 100%;
}

input[type=submit]{
    border: 0;
    outline:0;
    background-color: #108814;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 3px;
}

.section{padding: 15px 0;}
.section .title{padding: 10px 0;}

.button{
    padding: 10px 0;
    text-align: center;
}

.button a{
    color: #fbfbc4;
}