<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accion</title>
    <link rel="stylesheet" href="/css/juego.css">
</head>
<body>
    <header>
        <a style="display:scroll; position:fixed; top:40%; right:0px; z-index:4;" href="https://www.instagram.com/" target="_blank"><img src="https://i.imgur.com/hLAmor1.png" width="45" height="45"></a>
        <a style="display:scroll; position:fixed; top:30%; right:0px; z-index:4;" href="https://discord.gg/" target="_blank"><img src="https://i.imgur.com/8AuPev9.png" width="45" height="45"></a>
        <a style="display:scroll; position:fixed; top:50%; right:0px; z-index:4;" href="https://chat.whatsapp.com" target="_blank"><img src="https://i.imgur.com/q7RpkBc.png" width="45" height="45"></a>
        <nav class="container">
            <ul class="menu-horizontal">
                <li><a href="/">Inicio</a>
                  <ul class="menu-vertical">
                      <li><a href="login">Iniciar Sesion</a></li>
                     <li><a href="registro">Registrarse</a></li>
                  </ul>
              </li>
              <li><a href="/comunidad/temasactivos">Comunidad</a><li>
                <a href="/noticias/novedades">Novedades</a></li>
                </ul>
            </div>
           </nav>
    </header>
    <div class="container">
<div class="subforo">
<div class="subforo-tittle">
<h1>RIMWORLD</h1>

</div>
<div class="info">
<div class="imagen">
<img src="https://xboxplay.games/uploadStream/6464.jpg" >
</div>
<div>
    <div class="descrip"><h2>Descripcion del juego</h2></div>
<div class="parrafo">
<p>RimWorld es un juego de gestión y supervivencia tipo sandbox, 
    donde los jugadores tendrán que colonizar un territorio.
    La diplomacia, las artes, la psicología o el comercio y el
     combate forman el conjunto de herramientas que tendremos que utilizar para que nuestra sociedad se desarrolle.
    </p>
</div>
</div>
</div>
        <script src="main.js"></script>
   </body>
</html>