<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novedades</title>
    <link rel="stylesheet" href="/css/novedades.css">
</head>
<body class="body dark-scheme"></body>
<body>
    <header>
        <a style="display:scroll; position:fixed; top:2%; right:0px; z-index:4;" href="https://www.instagram.com/" target="_blank"><img src="https://i.imgur.com/hLAmor1.png" width="45" height="45"></a>
        <a style="display:scroll; position:fixed; top:12%; right:0px; z-index:4;" href="https://discord.gg/" target="_blank"><img src="https://i.imgur.com/8AuPev9.png" width="45" height="45"></a>
        <a style="display:scroll; position:fixed; top:22%; right:0px; z-index:4;" href="https://chat.whatsapp.com" target="_blank"><img src="https://i.imgur.com/q7RpkBc.png" width="45" height="45"></a>
        <nav class="container">
            <ul class="menu-horizontal">
                <li><a href="/">Inicio</a>
                  <ul class="menu-vertical">
                      <li><a href="login">Iniciar Sesion</a></li>
                     <li><a href="registro">Registrarse</a></li>
                  </ul>
              </li>
              <li><a href="/comunidad/temasactivos">Comunidad</a><li>
                <a href="/noticias/novedades">Novedades</a></li>
                </ul>
            </div>
           </nav>
    </header>
    <div class="container">
<div class="subforo">
<div class="subforo-tittle">
<h1>PRÓXIMOS LANZAMIENTOS Y ÚLTIMOS JUEGOS</h1>

</div>
<div class="subforo-row">
<div class="subforo-icon subforo-column center">
<i class="Logo"></i>
<img src="https://i.blogs.es/afef98/digimon-survive-new-header-mobile/450_1000.webp" width="80" alt="90">
</div>
<div class="subforo-descripcion subforo-column">
<h1><a href="novedad1">DIGIMON SURVIVE <br> fecha de lanzamiento:29/7/2022</a></h1>
<p>Digimon Survive es el nuevo videojuego de la saga Digimon, la famosa serie de animación en la
     que los protagonistas conviven con criaturas digitales en mundos virtuales llenos de aventuras. 
     Digimon Survive se presenta como un juego de rol japonés con elementos de supervivencia, combinando 
     gráficos 2D y 3D. Encarnaremos a Takuma Momozuka, un adolescente que se verá transportado a un extraño universo plagado de peligros y en el que Agumon, el famoso Digimon, será su guardián.</p>

</div>
<div class="subforo-stats subforo-column center">
</div>
<div class="subforo-info subforo-column">
    <div class='middle-wrapper'>
        <div class='like-wrapper'>
          <a class='like-button'>
            <span class='like-icon'>
              <div class='heart-animation-1'></div>
              <div class='heart-animation-2'></div>
            </span>
            Me Gusta
          </a>
          <a class='like-button'>
            <span class='like-icon'>
              <div class='heart-animation-1'></div>
              <div class='heart-animation-2'></div>
            </span>
            Comparte
          </a>
          <a class='like-button'>
            <span class='like-icon'>
              <div class='heart-animation-1'></div>
              <div class='heart-animation-2'></div>
            </span>
            comentario
          </a>
        </div>
      </div>
</div>

</div>
<div class="subforo-row">
<div class="subforo-icon subforo-column center">
<i class="Logo"></i>
<img src="https://xboxplay.games/uploadStream/6464.jpg" width="80" alt="90">
</div>
<div class="subforo-descripcion subforo-column">
<h1><a href="novedad2">RIMWORLD<br> fecha de lanzamiento:29/7/2022</a></h1>
<p>RimWorld es un juego de gestión y supervivencia tipo sandbox, 
    donde los jugadores tendrán que colonizar un territorio.
     La diplomacia, las artes, la psicología o el comercio
      y el combate forman el conjunto de herramientas que tendremos que utilizar para que nuestra
       sociedad se desarrolle.</p>

</div>
<div class="subforo-stats subforo-column center">

</div>
<div class="subforo-info subforo-column">
    <div class='middle-wrapper'>
        <div class='like-wrapper'>
          <a class='like-button'>
            <span class='like-icon'>
              <div class='heart-animation-1'></div>
              <div class='heart-animation-2'></div>
            </span>
            Me Gusta
          </a>
          <a class='like-button'>
            <span class='like-icon'>
              <div class='heart-animation-1'></div>
              <div class='heart-animation-2'></div>
            </span>
            Comparte
          </a>
          <a class='like-button'>
            <span class='like-icon'>
              <div class='heart-animation-1'></div>
              <div class='heart-animation-2'></div>
            </span>
            comentario
          </a>
        </div>
      </div>
</div> 
</div>   
<div class="subforo-row">
<div class="subforo-icon subforo-column center">
    <i class="Logo"></i>
    <img src="https://i.ytimg.com/vi/rFbC1L7I11g/mqdefault.jpg" width="80" alt="90">
</div>
<div class="subforo-descripcion subforo-column">
    <h1><a href="novedad3">SPIDER-MAN: REMASTERED PC <br> fecha de lanzamiento:12/8/2022</a></h1>
    <p>Spider-Man es un videojuego de acción y aventuras con un estilo jugable de mundo abierto, que permite al jugador desplazarse de un lugar a 
        otro con total libertad de movimientos y que tiene por escenario donde de desarrolla la historia, la ciudad de Nueva York. El juego está desarrollado 
        por Imsomniac Games, creadores de juegos como Spyro, Ratchet & Clank o Sunset Overdrive, entre otros y además está producido por Sony como videojuego exclusivo de PlayStation 4.</p>

</div>
<div class="subforo-stats subforo-column center">

</div>
<div class="subforo-info subforo-column">
    <div class='middle-wrapper'>
        <div class='like-wrapper'>
          <a class='like-button'>
            <span class='like-icon'>
              <div class='heart-animation-1'></div>
              <div class='heart-animation-2'></div>
            </span>
            Me Gusta
          </a>
          <a class='like-button'>
            <span class='like-icon'>
              <div class='heart-animation-1'></div>
              <div class='heart-animation-2'></div>
            </span>
            Comparte
          </a>
          <a class='like-button'>
            <span class='like-icon'>
              <div class='heart-animation-1'></div>
              <div class='heart-animation-2'></div>
            </span>
            comentario
          </a>
        </div>
      </div>
</div> 
</div>  
<div class="subforo-row">
    <div class="subforo-icon subforo-column center">
        <i class="Logo"></i>
        <img src="https://generacionxbox.com/wp-content/uploads/2021/11/sherlock-holmes-chapter-one-generacion-xbox.jpg" width="80" alt="90">
    </div>
    <div class="subforo-descripcion subforo-column">
        <h1><a href="novedad4">SHERLOCK HOLMES CHAPTER ONE  PS4<br> fecha de lanzamiento:28/4/2022</a></h1>
        <p>Sherlock Holmes Chapter One es una aventura de investigación y acción en mundo abierto para PC, PS5, PS4, Xbox Series X/S y Xbox One que nos invita a encarnar a
             un joven Sherlock que explorará en tercera persona una isla mediterránea del siglo XIX. Nuestra misión será la de recopilar pistas para los casos que tengamos que resolver, teniendo que 
             elegir entre distintas conclusiones a lo largo de cada investigación, y durante la misma, disfrazándonos y siendo sigilosos para evitar que nos descubran.</p>

    </div>
    <div class="subforo-stats subforo-column center">
       
    </div>
    <div class="subforo-info subforo-column">
        <div class='middle-wrapper'>
            <div class='like-wrapper'>
              <a class='like-button'>
                <span class='like-icon'>
                  <div class='heart-animation-1'></div>
                  <div class='heart-animation-2'></div>
                </span>
                Me Gusta
              </a>
              <a class='like-button'>
                <span class='like-icon'>
                  <div class='heart-animation-1'></div>
                  <div class='heart-animation-2'></div>
                </span>
                Comparte
              </a>
              <a class='like-button'>
                <span class='like-icon'>
                  <div class='heart-animation-1'></div>
                  <div class='heart-animation-2'></div>
                </span>
                comentario
              </a>
            </div>
          </div>
    </div> 
    </div>  

        <div class="subforo-row">
            <div class="subforo-icon subforo-column center">
                <i class="Logo"></i>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsOoy737z43jqTHwChwbEtG8uhR3PEDvAbV51V2BJBb-fpEirHC55_cGSa6K2BpnvKCCY&usqp=CAU"
width="80" alt="90">
            </div>
            <div class="subforo-descripcion subforo-column">
                <h1><a href="novedad5">TEMTEM   Switch Xbox Series X/S<br> fecha de lanzamiento:6/9/2022</a></h1>
                <p>Temtem es un videojuego de aventuras y rol en el que se nos trasladará a un archipiélago 
                    habitado por los temtem, unas criaturas y monstruos únicos, con sus propias características 
                    y habilidades.
                     A través del combate y la exploración en 3D debemos capturarlos para enfrentarnos a otros
                      entrenadores y así mejorar sus ataques, defensas y potenciales. 
                      También podremos personalizar nuestra casa, 
                     unirnos a otros jugadores para vivir aventuras y explorar un mundo vivo en línea.</p>

            </div>
            <div class="subforo-stats subforo-column center">
            
            </div>
            <div class="subforo-info subforo-column">
                <div class='middle-wrapper'>
                    <div class='like-wrapper'>
                      <a class='like-button'>
                        <span class='like-icon'>
                          <div class='heart-animation-1'></div>
                          <div class='heart-animation-2'></div>
                        </span>
                        Me Gusta
                      </a>
                      <a class='like-button'>
                        <span class='like-icon'>
                          <div class='heart-animation-1'></div>
                          <div class='heart-animation-2'></div>
                        </span>
                        Comparte
                      </a>
                      <a class='like-button'>
                        <span class='like-icon'>
                          <div class='heart-animation-1'></div>
                          <div class='heart-animation-2'></div>
                        </span>
                        comentario
                      </a>
                    </div>
                  </div>
            </div>
            
        </div>
        <div class="subforo-row">
            <div class="subforo-icon subforo-column center">
                <i class="Logo"></i>
                <img src="https://news.xbox.com/es-latam/wp-content/uploads/sites/4/Grounded_Hazy_KeyArt_JPG.jpg"width="80" alt="90">
            </div>
    <div class="subforo-descripcion subforo-column">
        <h1><a href="novedad6">GROUNDED <br> fecha de lanzamiento:27/9/2022</a></h1>
        <p>Grounded es un juego de acción y exploración para hasta cuatro jugadores en el que se deberán
             unir fuerzas para explorar, construir y, en definitiva, sobrevivir a los peligros que acechan 
             tras cada brizna de césped. 
            En el nuevo título de Obsidian para Xbox y PC, los protagonistas han quedado atrapados en un
             diminuto tamaño, por lo que hasta las hormigas o las mariquitas serán gigantescos animales 
             a los que plantar cara.</p>

    </div>
    <div class="subforo-stats subforo-column center">
       
    </div>
    <div class="subforo-info subforo-column">
        <div class='middle-wrapper'>
            <div class='like-wrapper'>
              <a class='like-button'>
                <span class='like-icon'>
                  <div class='heart-animation-1'></div>
                  <div class='heart-animation-2'></div>
                </span>
                Me Gusta
              </a>
              <a class='like-button'>
                <span class='like-icon'>
                  <div class='heart-animation-1'></div>
                  <div class='heart-animation-2'></div>
                </span>
                Comparte
              </a>
              <a class='like-button'>
                <span class='like-icon'>
                  <div class='heart-animation-1'></div>
                  <div class='heart-animation-2'></div>
                </span>
                comentario
              </a>
            </div>
          </div>
    </div> 
    </div>   
    <div class="subforo-row">
        <div class="subforo-icon subforo-column center">
            <i class="Logo"></i>
            <img src="https://areajugones.sport.es/wp-content/uploads/2022/06/scorn-1080x609.jpg"
            width="80" alt="90">
        </div>
        <div class="subforo-descripcion subforo-column">
            <h1><a href="novedad7">SCORN PC Xbox Series X/S <br> fecha de lanzamiento:21/10/2022</a></h1>
            <p>Scorn es un videojuego de acción y terror en primera persona desarrollado por Ebb Software,
                 un equipo de creadores independientes afincados en Serbia.
                 Propone una aventura ambientada en un mundo tenebroso, orgánico y de alta tecnología
                  inspirado en las obras H.R.Giger, el creador del Alien. Apostando por entornos dinámicos, 
                 el juego seguirá una línea narrativa y argumental muy marcada mientras nos deleita 
                 con escenarios cambiantes, nos desafía con puzles complejos y nos aterroriza con múltiples
                  peligros en cada esquina.</p>

        </div>
        <div class="subforo-stats subforo-column center">
          
        </div>
        <div class="subforo-info subforo-column">
            <div class='middle-wrapper'>
                <div class='like-wrapper'>
                  <a class='like-button'>
                    <span class='like-icon'>
                      <div class='heart-animation-1'></div>
                      <div class='heart-animation-2'></div>
                    </span>
                    Me Gusta
                  </a>
                  <a class='like-button'>
                    <span class='like-icon'>
                      <div class='heart-animation-1'></div>
                      <div class='heart-animation-2'></div>
                    </span>
                    Comparte
                  </a>
                  <a class='like-button'>
                    <span class='like-icon'>
                      <div class='heart-animation-1'></div>
                      <div class='heart-animation-2'></div>
                    </span>
                    comentario
                  </a>
                </div>
              </div>
        </div> 
        </div>  
        <div class="subforo-row">
            <div class="subforo-icon subforo-column center">
                <i class="Logo"></i>
                <img src="https://www.hd-tecnologia.com/imagenes/articulos/2022/05/Gotham-Knights-ya-no-tendra-soporte-para-el-idioma-y-subtitulos-en-Ruso.jpg"
            width="80" alt="90">
            </div>
            <div class="subforo-descripcion subforo-column">
                <h1><a href="novedad8">GOTHAM KNIGHTS PS5 Xbox Series X/S PC <br> fecha de lanzamiento:25/10/2022</a></h1>
                <p>Gotham Knights es un videojuego de acción y beat’em up basado en el universo de Batman
                     en el que seguiremos los pasos del murciélago como uno de sus múltiples aliados y socios
                      luego de que el héroe de la ciudad muera. 
                    Combatiendo al crimen organizado y los supervillanos, este título desarrollado por Warner Bros.
                     Montreal nos invitará a encarnar a Batgirl, Robin, Red Hood y Nightwing y tendrá énfasis 
                     en el cooperativo a través de una propuesta de mundo abierto para consolas como PS5,
                     Xbox Series X/S, PS4, Xbox One y PC.</p>
                    
                   </div>
            <div class="subforo-stats subforo-column center">
              
            </div>
            <div class="subforo-info subforo-column">
                <div class='middle-wrapper'>
                    <div class='like-wrapper'>
                      <a class='like-button'>
                        <span class='like-icon'>
                          <div class='heart-animation-1'></div>
                          <div class='heart-animation-2'></div>
                        </span>
                        Me Gusta
                      </a>
                      <a class='like-button'>
                        <span class='like-icon'>
                          <div class='heart-animation-1'></div>
                          <div class='heart-animation-2'></div>
                        </span>
                        Comparte
                      </a>
                      <a class='like-button'>
                        <span class='like-icon'>
                          <div class='heart-animation-1'></div>
                          <div class='heart-animation-2'></div>
                        </span>
                        comentario
                      </a>
                    </div>
                  </div>
            </div> 
            </div>  
            </div>


        <script src="main.js"></script>
   </body>
</html>