<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accion</title>
    <link rel="stylesheet" href="/css/juego.css">
</head>
<body>
    <header>
        <a style="display:scroll; position:fixed; top:40%; right:0px; z-index:4;" href="https://www.instagram.com/" target="_blank"><img src="https://i.imgur.com/hLAmor1.png" width="45" height="45"></a>
        <a style="display:scroll; position:fixed; top:30%; right:0px; z-index:4;" href="https://discord.gg/" target="_blank"><img src="https://i.imgur.com/8AuPev9.png" width="45" height="45"></a>
        <a style="display:scroll; position:fixed; top:50%; right:0px; z-index:4;" href="https://chat.whatsapp.com" target="_blank"><img src="https://i.imgur.com/q7RpkBc.png" width="45" height="45"></a>
        <nav class="container">
            <ul class="menu-horizontal">
                <li><a href="/">Inicio</a>
                  <ul class="menu-vertical">
                      <li><a href="login">Iniciar Sesion</a></li>
                     <li><a href="registro">Registrarse</a></li>
                  </ul>
              </li>
              <li><a href="/comunidad/temasactivos">Comunidad</a><li>
                <a href="/noticias/novedades">Novedades</a></li>
                </ul>
            </div>
           </nav>
    </header>
    <div class="container">
<div class="subforo">
<div class="subforo-tittle">
<h1>DIGIMON SURVIVE</h1>

</div>
<div class="info">
<div class="imagen">
<img src="https://i.blogs.es/afef98/digimon-survive-new-header-mobile/450_1000.webp" >
</div>
<div>
    <div class="descrip"><h2>Descripcion del juego</h2></div>
<div class="parrafo">
<p>Digimon Survive es el nuevo videojuego de la saga Digimon, la famosa serie de animación en la
    que los protagonistas conviven con criaturas digitales en mundos virtuales llenos de aventuras. 
    Digimon Survive se presenta como un juego de rol japonés con elementos de supervivencia, combinando 
    gráficos 2D y 3D. Encarnaremos a Takuma Momozuka, un adolescente que se verá transportado a un extraño
     universo plagado de peligros y en el que Agumon, el famoso Digimon, será su guardián.</p>
</div>
</div>
</div>
        <script src="main.js"></script>
   </body>
</html>