<!DOCTYPE html>
<html>
    <head>
        <meta charset="en">
        <meta http-equiv="X-UA-ompatible" content="IF=edge">
        <meta name="Vievport" content="width=device-width, initial-scale=1.0">
        <title>Registro</title>
        <link rel="stylesheet" href="/css/registro.css">
    </head>
    <body>
        <form class="form" id="form">
            <h2 class="form__tittle">Registrarse</h2>
            <p class="form__paragraph">Completa los datos para obtener tu cuenta<a href="#" class="form__link"></a></p>
            <div class="form__container">
                <div class="form__group">
                    <input type="text" id="name" class="form__input" placeholder=" ">
                    <label for="name" class="form__label">Nombre</label>
                    <span class="form__line"></span>
                </div>
                <div class="form__group">
                    <input type="email" id="email" class="form__input" placeholder=" ">
                    <label for="name" class="form__label">Email</label>
                    <span class="form__line"></span>
                </div>
                <div class="form__group">
                    <input type="text" id="user" class="form__input" placeholder=" ">
                    <label for="user" class="form__label">Usuario</label>
                    <span class="form__line"></span>
                </div>
                <div class="form__group">
                    <input type="password" id="password" class="form__input" placeholder=" ">
                    <label for="password" class="form__label">Contraseña:</label>
                    <span class="form__line"></span>
                </div>
                <div class="form__group">
                    <input type="password" id="rep-password" class="form__input" placeholder=" ">
                    <label for="password" class="form__label">Repetir contraseña:</label>
                    <span class="form__line"></span>
                </div>
                <input type="submit" class="form__submit" value="entrar">
                <p class="warning" id="warning"> </p>
            </div>
        </form>
        <script src="../js/registro.js"></script>
    </body>
</html>
