<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accion</title>
    <link rel="stylesheet" href="/css/juego.css">
</head>
<body>
    <header>
        <nav class="container">
            <ul class="menu-horizontal">
              <li><a href="/">Inicio</a>
                <ul class="menu-vertical">
                    <li><a href="/login">Iniciar Sesion</a></li>
                   <li><a href="/registro">Registrarse</a></li>
                </ul>
            </li>
            <li><a href="#">Comunidad</a>
                <ul class="menu-vertical">
                    <li><a href="/temasactivos">Temas Activos</a></li>
                    <li><a href="/temasnuevos">Temas Nuevos</a></li>
                </ul>
              <li>
              <li>
                  <a href="#">Categorias</a>
                  <ul class="menu-vertical">
                      <li><a href="/accion">Accion</a></li>
                      <li><a href="/aventura">Aventura</a></li>
                      <li><a href="/2Dysim">2D y simulacion</a></li>
                      <li><a href="/novedades">Novedades</a></li>
                  </ul>
              </li>
              </ul>
            </div>
           </nav>
    </header>
    <div class="container">
<div class="subforo">
<div class="subforo-tittle">
<h1>Terraria</h1>

</div>
<div class="info">
<div class="imagen">
<img src="https://imag.malavida.com/mvimgbig/download-fs/terraria-13126-1.jpg" >
</div>
<div>
    <div class="descrip"><h2>Descripcion del juego</h2></div>
<div class="parrafo">
<p>¡Cava, lucha, explora, construye! Nada es imposible en este juego de aventuras repleto de acción.
     El mundo es tu lienzo y la tierra misma es tu pintura.
    ¡Coge tus herramientas y adelante! Crea armas para deshacerte de una gran variedad de enemigos
     en numerosos ecosistemas. Excava profundo bajo tierra para encontrar accesorios, 
     dinero y otras cosas muy útiles. Reúne recursos para crear todo lo que necesites y 
     conformar así tu propio mundo. Construye una casa, un fuerte o incluso un castillo.
      La gente se mudará a vivir ahí e incluso quizás te vendan diferentes mercancías que te ayuden en tu viaje.
    Pero ten cuidado, aún te aguardan más desafíos... ¿Estás preparado para la tarea?</p>
</div>
</div>
</div>
        <script src="main.js"></script>
   </body>
</html>