<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accion</title>
    <link rel="stylesheet" href="/css/juego.css">
</head>
<body>
    <header>
        <a style="display:scroll; position:fixed; top:40%; right:0px; z-index:4;" href="https://www.instagram.com/" target="_blank"><img src="https://i.imgur.com/hLAmor1.png" width="45" height="45"></a>
        <a style="display:scroll; position:fixed; top:30%; right:0px; z-index:4;" href="https://discord.gg/" target="_blank"><img src="https://i.imgur.com/8AuPev9.png" width="45" height="45"></a>
        <a style="display:scroll; position:fixed; top:50%; right:0px; z-index:4;" href="https://chat.whatsapp.com" target="_blank"><img src="https://i.imgur.com/q7RpkBc.png" width="45" height="45"></a>
        <nav class="container">
            <ul class="menu-horizontal">
              <li><a href="/">Inicio</a>
                <ul class="menu-vertical">
                    <li><a href="login">Iniciar Sesion</a></li>
                   <li><a href="registro">Registrarse</a></li>
                </ul>
            </li>
            <li><a href="#">Comunidad</a>
                <ul class="menu-vertical">
                    <li><a href="/comunidad/temasactivos">Temas Activos</a></li>
                    <li><a href="/comunidad/temasnuevos">Temas Nuevos</a></li>
                </ul>
              <li>
              <li>
                  <a href="#">Categorias</a>
                  <ul class="menu-vertical">
                      <li><a href="/juegos/accion">Accion</a></li>
                      <li><a href="/juegos/aventura">Aventura</a></li>
                      <li><a href="/juegos/2Dysim">2D y simulacion</a></li>
                      <li><a href="/noticias/novedades">Novedades</a></li>
                  </ul>
              </li>
              </ul>
            </div>
           </nav>
    </header>
    <div class="container">
<div class="subforo">
<div class="subforo-tittle">
<h1>Los Sims 4</h1>

</div>
<div class="info">
<div class="imagen">
<img src="https://s3.gaming-cdn.com/images/products/272/orig/the-sims-4-pc-mac-game-origin-cover.jpg?v=1646644404" >
</div>
<div>
    <div class="descrip"><h2>Descripcion del juego</h2></div>
<div class="parrafo">
<p>Los Sims 4 es la nueva entrega de la serie de simulación social de Maxis que nos propone controlar
     a estos seres virtuales y 
    hacer que evolucionen en sus vidas. Esta cuarta entrega incluye mayor libertad que nunca para construir 
    la vivienda de nuestros Sims, con más opciones de diseño, 
    y un sistema de elecciones que hará que las decisiones que tomen nuestros seres virtuales afecten a su vida.</p>
</div>
</div>
</div>
        <script src="main.js"></script>
   </body>
</html>