<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accion</title>
    <link rel="stylesheet" href="/css/juego.css">
</head>
<body>
    <header>
        <nav class="container">
            <ul class="menu-horizontal">
              <li><a href="/">Inicio</a>
                <ul class="menu-vertical">
                    <li><a href="/login">Iniciar Sesion</a></li>
                   <li><a href="/registro">Registrarse</a></li>
                </ul>
            </li>
            <li><a href="#">Comunidad</a>
                <ul class="menu-vertical">
                    <li><a href="/temasactivos">Temas Activos</a></li>
                    <li><a href="/temasnuevos">Temas Nuevos</a></li>
                </ul>
              <li>
              <li>
                  <a href="#">Categorias</a>
                  <ul class="menu-vertical">
                      <li><a href="/accion">Accion</a></li>
                      <li><a href="/aventura">Aventura</a></li>
                      <li><a href="/2Dysim">2D y simulacion</a></li>
                      <li><a href="/novedades">Novedades</a></li>
                  </ul>
              </li>
              </ul>
            </div>
           </nav>
    </header>
    <div class="container">
<div class="subforo">
<div class="subforo-tittle">
<h1>Celeste</h1>

</div>
<div class="info">
<div class="imagen">
<img src="https://i.blogs.es/846500/290118-celeste/1366_2000.jpg" >
</div>
<div>
    <div class="descrip"><h2>Descripcion del juego</h2></div>
<div class="parrafo">
<p>Celeste es un videojuego de acción, aventuras y plataformas en 2D de corte independiente 
    en el que los jugadores disfrutarán de la exploración de los
    diferentes escenarios, invitándolos a descubrir nuevas rutas, secretos y elementos ocultos.
     De esta forma, visitarán antiguas ruinas, ciudades y parajes abandonados,
     todo ello con la inspiración de base de los clásicos de 16 bits.</p>
</div>
</div>
</div>
        <script src="main.js"></script>
   </body>
</html>