<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accion</title>
    <link rel="stylesheet" href="/css/juego.css">
</head>
<body>
    <header>
        <nav class="container">
            <ul class="menu-horizontal">
              <li><a href="/">Inicio</a>
                <ul class="menu-vertical">
                    <li><a href="/login">Iniciar Sesion</a></li>
                   <li><a href="/registro">Registrarse</a></li>
                </ul>
            </li>
            <li><a href="#">Comunidad</a>
                <ul class="menu-vertical">
                    <li><a href="/temasactivos">Temas Activos</a></li>
                    <li><a href="/temasnuevos">Temas Nuevos</a></li>
                </ul>
              <li>
              <li>
                  <a href="#">Categorias</a>
                  <ul class="menu-vertical">
                      <li><a href="/accion">Accion</a></li>
                      <li><a href="/aventura">Aventura</a></li>
                      <li><a href="/2Dysim">2D y simulacion</a></li>
                      <li><a href="/novedades">Novedades</a></li>
                  </ul>
              </li>
              </ul>
            </div>
           </nav>
    </header>
    <div class="container">
<div class="subforo">
<div class="subforo-tittle">
<h1>Stardew Valley</h1>

</div>
<div class="info">
<div class="imagen">
<img src="https://assets.nintendo.com/image/upload/c_scale,f_auto,q_auto,w_1280/v1/ncom/en_US/games/switch/s/stardew-valley-switch/Video/posters/Stardew_Valley_Trailer_ESRB" >
</div>
<div>
    <div class="descrip"><h2>Descripcion del juego</h2></div>
<div class="parrafo">
<p>Has heredado la antigua parcela agrícola de tu abuelo en Stardew Valley. 
    Armado con herramientas de segunda mano y algunas monedas, se dispuso a comenzar su nueva vida.
    ¿Puedes aprender a vivir de la tierra y convertir estos campos cubiertos de maleza en un hogar próspero? 
    No será fácil. Desde que Joja Corporation llegó a la ciudad, las viejas formas de vida casi han desaparecido.
     El centro comunitario, que alguna vez fue el centro de actividad más vibrante de la ciudad,
      ahora se encuentra en ruinas. Pero el valle parece lleno de oportunidades. ¡Con un poco de dedicación,
       podrías ser tú quien devuelva Stardew Valley a la grandeza!</p>
</div>
</div>
</div>
        <script src="main.js"></script>
   </body>
</html>