<html>
    <head>
        <meta charset="en">
        <meta name="viewport" content="width=devie-width, initial-scale=1.0">
        <tittle>CuevadelGamer</tittle>
        <link rel="stylesheet" href="/css/temasnuevos.css">
    </head>
    <body>
    <header>
        <a style="display:scroll; position:fixed; top:40%; left:0px; z-index:4;" href="https://www.instagram.com/" target="_blank"><img src="https://i.imgur.com/hLAmor1.png" width="45" height="45"></a>
        <a style="display:scroll; position:fixed; top:30%; left:0px; z-index:4;" href="https://discord.gg/" target="_blank"><img src="https://i.imgur.com/8AuPev9.png" width="45" height="45"></a>
        <a style="display:scroll; position:fixed; top:50%; left:0px; z-index:4;" href="https://chat.whatsapp.com" target="_blank"><img src="https://i.imgur.com/q7RpkBc.png" width="45" height="45"></a>
        <nav class="container">
            <ul class="menu-horizontal">
              <li><a href="/">Inicio</a>
                <ul class="menu-vertical">
                    <li><a href="/login">Iniciar Sesion</a></li>
                   <li><a href="/registro">Registrarse</a></li>
                </ul>
            </li>
            <li><a href="#">Comunidad</a>
                <ul class="menu-vertical">
                    <li><a href="/temasactivos">Temas Activos</a></li>
                    <li><a href="/temasnuevos">Temas Nuevos</a></li>
                </ul>
              <li>
              <li>
                  <a href="#">Categorias</a>
                  <ul class="menu-vertical">
                      <li><a href="/accion">Accion</a></li>
                      <li><a href="/aventura">Aventura</a></li>
                      <li><a href="/2Dysim">2D y simulacion</a></li>
                      <li><a href="/novedades">Novedades</a></li>
                  </ul>
              </li>
              </ul>
            </div>
           </nav>
    </header>
    <div class="container">
            <div class="subforo">
                <div class="subforo-tittle">
                    <h1>mensajes</h1>
                </div>
                <div class="subforo-row">
                    <div class="subforo-icon subforo-column center">
                        <i class="Logo"></i>
                    </div>
                    <div class="subforo-descripcion subforo-column">
                        <h1><a href="">Cargar en cuenta Steam, saldo tarjetas prepago. Reservar una portátil, Steam Deck
                        </a></h1>
                        <p>Hola 👋

                            Recientemente, he abierto una cuenta en steam; pero tengo algunas dudas: como se recarga saldo desde una 
                            tarjeta prepago, en la cuenta que he abierto ( se que hay en la tarjeta, un código que hay que rascar,
                             e introducir con el teclado, pero donde? )
                              Como se hace una reserva de la portátil Steam Deck? Como se hace, esta operación?
                            Quedo agradecido, de antemano, por vuestra ayuda con el tema. Smilie  </p>
                    </div>
                    <div class="subforo-stats subforo-column center">
                        <span>Responder / Like</span>
                    </div>
                    <div class="subforo-info subforo-column">
                        <b><a href="">Posteado </a></b>por<a href="">Jeremy Buendia</a> 
                        <br>
                        el dia <small>30/07/2022</small>
                    </div>
                    
                    
                </div>
                <div class="subforo-row">
                    <div class="subforo-icon subforo-column center">
                        <i class="Logo"></i>
                    </div>
                    <div class="subforo-descripcion subforo-column">
                        <h1><a href="">Como se carga saldo desde tarjeta prepago Steam? Como se reserva una consola Steam Deck?

                        </a></h1>
                        <p>Hola 👋

                            Recientemente, he abierto una cuenta en steam; pero tengo algunas dudas: como se recarga 
                            saldo desde una tarjeta prepago, en la cuenta que he abierto 
                            ( se que hay en la tarjeta, un código que hay que rascar, e introducir con el teclado, pero donde? )
                            Como se hace una reserva de la portátil Steam Deck? Como se hace, esta operación?
                            Quedo agradecido, de antemano, por vuestra ayuda con el tema.</p>
                    </div>
                    <div class="subforo-stats subforo-column center">
                        <span>Responder / Like</span>
                    </div>
                    <div class="subforo-info subforo-column">
                        <b><a href="">Posteado </a></b>por<a href="">anashe777</a> 
                        <br>
                        el dia <small>07/08/2022</small>
                    </div>
                    
                </div>
                <div class="subforo-row">
                    <div class="subforo-icon subforo-column center">
                        <i class="Logo"></i>
                    </div>
                    <div class="subforo-descripcion subforo-column">
                        <h1><a href="">Noticia: Hogwarts Legacy: El libro de arte oficial habría filtrado la fecha de lanzamiento
                        </a></h1>
                    </div>
                    <div class="subforo-stats subforo-column center">
                        <span>Responder / Like</span>
                    </div>
                    <div class="subforo-info subforo-column">
                        <b><a href="">Posteado </a></b>por<a href="">winchesta30-30</a> 
                        <br>
                        el dia <small>05/08/2022</small>
                    </div>
                </div>   
                <div class="subforo-row">
                    <div class="subforo-icon subforo-column center">
                        <i class="Logo"></i>
                    </div>
                    <div class="subforo-descripcion subforo-column">
                        <h1><a href="">Torneo de Verano 22 **SEMIFINALES**

                        </a></h1>
                        <p>Aquí tenemos las dos semifinales que han quedado:
                            Luigi’s Mansion 3
                                       VS
                            Smash Bros Ultimate 
                            / Zelda Breath of the Wild
                            vS
                            Fire Emblem Three Houses   
                            
                        </p>
                    </div>
                    <div class="subforo-stats subforo-column center">
                        <span>Responder / Like</span>
                    </div>
                    <div class="subforo-info subforo-column">
                        <b><a href="">Posteado </a></b>por<a href="">drisi1321</a> 
                        <br>
                        el dia <small>02/08/2022</small>
                    </div>
                    
                </div>
                <div class="subforo-row">
                    <div class="subforo-icon subforo-column center">
                        <i class="Logo"></i>
                    </div>
                    <div class="subforo-descripcion subforo-column">
                        <h1><a href="">Cargar en cuenta Steam, saldo tarjetas prepago. Reservar una portátil, Steam Deck
                        </a></h1>
                        <p>Hola 👋

                            Recientemente, he abierto una cuenta en steam; pero tengo algunas dudas: como se recarga saldo desde una 
                            tarjeta prepago, en la cuenta que he abierto ( se que hay en la tarjeta, un código que hay que rascar,
                             e introducir con el teclado, pero donde? )
                              Como se hace una reserva de la portátil Steam Deck? Como se hace, esta operación?
                            Quedo agradecido, de antemano, por vuestra ayuda con el tema. Smilie  </p>
                    </div>
                    <div class="subforo-stats subforo-column center">
                        <span>Responder / Like</span>
                    </div>
                    <div class="subforo-info subforo-column">
                        <b><a href="">Posteado </a></b>por<a href="">Jeremy Buendia</a> 
                        <br>
                        el dia <small>30/07/2022</small>
                    </div>
                    
                    
                </div>
                <div class="subforo-row">
                    <div class="subforo-icon subforo-column center">
                        <i class="Logo"></i>
                    </div>
                    <div class="subforo-descripcion subforo-column">
                        <h1><a href="">Como se carga saldo desde tarjeta prepago Steam? Como se reserva una consola Steam Deck?

                        </a></h1>
                        <p>Hola 👋

                            Recientemente, he abierto una cuenta en steam; pero tengo algunas dudas: como se recarga 
                            saldo desde una tarjeta prepago, en la cuenta que he abierto 
                            ( se que hay en la tarjeta, un código que hay que rascar, e introducir con el teclado, pero donde? )
                            Como se hace una reserva de la portátil Steam Deck? Como se hace, esta operación?
                            Quedo agradecido, de antemano, por vuestra ayuda con el tema.</p>
                    </div>
                    <div class="subforo-stats subforo-column center">
                        <span>Responder / Like</span>
                    </div>
                    <div class="subforo-info subforo-column">
                        <b><a href="">Posteado </a></b>por<a href="">anashe777</a> 
                        <br>
                        el dia <small>07/08/2022</small>
                    </div>
                    
                </div>
                <div class="subforo-row">
                    <div class="subforo-icon subforo-column center">
                        <i class="Logo"></i>
                    </div>
                    <div class="subforo-descripcion subforo-column">
                        <h1><a href="">Noticia: Hogwarts Legacy: El libro de arte oficial habría filtrado la fecha de lanzamiento
                        </a></h1>
                    </div>
                    <div class="subforo-stats subforo-column center">
                        <span>Responder / Like</span>
                    </div>
                    <div class="subforo-info subforo-column">
                        <b><a href="">Posteado </a></b>por<a href="">winchesta30-30</a> 
                        <br>
                        el dia <small>05/08/2022</small>
                    </div>
                </div>   
                <div class="subforo-row">
                    <div class="subforo-icon subforo-column center">
                        <i class="Logo"></i>
                    </div>
                    <div class="subforo-descripcion subforo-column">
                        <h1><a href="">Torneo de Verano 22 **SEMIFINALES**

                        </a></h1>
                        <p>Aquí tenemos las dos semifinales que han quedado:
                            Luigi’s Mansion 3
                                       VS
                            Smash Bros Ultimate 
                            / Zelda Breath of the Wild
                            vS
                            Fire Emblem Three Houses   
                            
                        </p>
                    </div>
                    <div class="subforo-stats subforo-column center">
                        <span>Responder / Like</span>
                    </div>
                    <div class="subforo-info subforo-column">
                        <b><a href="">Posteado </a></b>por<a href="">drisi1321</a> 
                        <br>
                        el dia <small>02/08/2022</small>
                    </div>
                    
                </div>
                <div class="subforo-row">
                    <div class="subforo-icon subforo-column center">
                        <i class="Logo"></i>
                    </div>
                    <div class="subforo-descripcion subforo-column">
                        <h1><a href="">Cargar en cuenta Steam, saldo tarjetas prepago. Reservar una portátil, Steam Deck
                        </a></h1>
                        <p>Hola 👋

                            Recientemente, he abierto una cuenta en steam; pero tengo algunas dudas: como se recarga saldo desde una 
                            tarjeta prepago, en la cuenta que he abierto ( se que hay en la tarjeta, un código que hay que rascar,
                             e introducir con el teclado, pero donde? )
                              Como se hace una reserva de la portátil Steam Deck? Como se hace, esta operación?
                            Quedo agradecido, de antemano, por vuestra ayuda con el tema. Smilie  </p>
                    </div>
                    <div class="subforo-stats subforo-column center">
                        <span>Responder / Like</span>
                    </div>
                    <div class="subforo-info subforo-column">
                        <b><a href="">Posteado </a></b>por<a href="">Jeremy Buendia</a> 
                        <br>
                        el dia <small>30/07/2022</small>
                    </div>
                    
                    
                </div>
                <div class="subforo-row">
                    <div class="subforo-icon subforo-column center">
                        <i class="Logo"></i>
                    </div>
                    <div class="subforo-descripcion subforo-column">
                        <h1><a href="">Como se carga saldo desde tarjeta prepago Steam? Como se reserva una consola Steam Deck?

                        </a></h1>
                        <p>Hola 👋

                            Recientemente, he abierto una cuenta en steam; pero tengo algunas dudas: como se recarga 
                            saldo desde una tarjeta prepago, en la cuenta que he abierto 
                            ( se que hay en la tarjeta, un código que hay que rascar, e introducir con el teclado, pero donde? )
                            Como se hace una reserva de la portátil Steam Deck? Como se hace, esta operación?
                            Quedo agradecido, de antemano, por vuestra ayuda con el tema.</p>
                    </div>
                    <div class="subforo-stats subforo-column center">
                        <span>Responder / Like</span>
                    </div>
                    <div class="subforo-info subforo-column">
                        <b><a href="">Posteado </a></b>por<a href="">anashe777</a> 
                        <br>
                        el dia <small>07/08/2022</small>
                    </div>
                    
                </div>
                <div class="subforo-row">
                    <div class="subforo-icon subforo-column center">
                        <i class="Logo"></i>
                    </div>
                    <div class="subforo-descripcion subforo-column">
                        <h1><a href="">Noticia: Hogwarts Legacy: El libro de arte oficial habría filtrado la fecha de lanzamiento
                        </a></h1>
                    </div>
                    <div class="subforo-stats subforo-column center">
                        <span>Responder / Like</span>
                    </div>
                    <div class="subforo-info subforo-column">
                        <b><a href="">Posteado </a></b>por<a href="">winchesta30-30</a> 
                        <br>
                        el dia <small>05/08/2022</small>
                    </div>
                </div>   
                <div class="subforo-row">
                    <div class="subforo-icon subforo-column center">
                        <i class="Logo"></i>
                    </div>
                    <div class="subforo-descripcion subforo-column">
                        <h1><a href="">Torneo de Verano 22 **SEMIFINALES**

                        </a></h1>
                        <p>Aquí tenemos las dos semifinales que han quedado:
                            Luigi’s Mansion 3
                                       VS
                            Smash Bros Ultimate 
                            / Zelda Breath of the Wild
                            vS
                            Fire Emblem Three Houses   
                            
                        </p>
                    </div>
                    <div class="subforo-stats subforo-column center">
                        <span>Responder / Like</span>
                    </div>
                    <div class="subforo-info subforo-column">
                        <b><a href="">Posteado </a></b>por<a href="">drisi1321</a> 
                        <br>
                        el dia <small>02/08/2022</small>
                    </div>
                    
                </div>

            </div>
            <!--Mas-->
            <!--mas-->
        </div>

        <script src="main.js"></script>

    </body>
</html>